<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title>Car Wash</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/mdb.min.css" rel="stylesheet" />
		<link href="../src/projectStyle.css" rel="stylesheet" />
	</head>

	<body class="grey lighten-3">
		<header id="header"></header>

		<main class="pt-5 mx-lg-3">
			<div class="container-fluid mt-4 p-0">
				<div class="card mb-4 py-3 text-center hoverable wrap">
					<h1 class="mainTain"></h1>
				</div>
				<!-- <button class="btn btn-primary btn-sm" type="button" onclick="viewAll()">view all</button>
				<button class="btn btn-primary btn-sm" type="button" onclick="view()">view</button>

				<div id="newBooking"></div>
				<div id="newBookingAll" class="d-none"></div>
				<div id="dispatched"></div>
				<div id="finished"></div>
				<div id="cancelled"></div>
				<div id="manageStaff"></div>
				<div id="manageLeave"></div>
				<div id="advancePayment"></div>
				<div id="payout"></div>
				<div id="stock"></div> -->
				<!-- <div id="managePackage"></div> -->
				<div id="paymentVoucher"></div>
			</div>
		</main>

		<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="../js/popper.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/mdb.min.js"></script>
		<script type="text/javascript" src="../src/main.js"></script>
		<script type="text/javascript" src="../src/router.js"></script>
		<script>
			new WOW().init();
			//side bar icon open and close function
			toggleFunction('.customersBooking', '.customersBookingIcon');
			toggleFunction('.staff', '.staffIcon');
		</script>
	</body>
</html>
