<style>
    * {
        /* border: 1px solid red; */
    }
</style>

<div class="card p-lg-2 p-md-2 p-sm-2 p-0">
    <div class="row no-gutters text-center my-3">
        <div class="col-6 text-left px-lg-4 px-1 py-2">
            <p><span class="paymentVoucherTitleSm">Address: </span> 445 Mount Eden Road, Mount Eden, Auckland.</p>
            <p><span class="paymentVoucherTitleSm">Tel: </span> 07-5996363</p>
            <p><span class="paymentVoucherTitleSm">Email: </span> ShuaiGe@gmail.com</p>
        </div>
        <div class="col-6 text-right px-lg-4 px-1 py-2">
            <p><span class="paymentVoucherTitleSm">Date: </span>04/05/2019</p>
            <p><span class="paymentVoucherTitleSm">Voucher No: </span>PV0109</p>
            <p><span class="paymentVoucherTitleSm">Pay To: </span> Peter Kia</p>
        </div>
    </div>
    <div class="row no-gutters text-center px-md-2">
        <div class="border py-1 font-weight-bold col-lg-1 col-1 indigo darken-4 text-white">No</div>
        <div class="border py-1 font-weight-bold col-lg-8 col-8 indigo darken-4 text-white">Description</div>
        <div class="border py-1 font-weight-bold col-lg-3 col-3 indigo darken-4 text-white">Amount</div>
        <div class="border col-1">1</div>
        <div class="border text-left px-1 col-8">
            Basic salary </div>
        <div class="border col-3">2000</div>
        <div class="border col-1">2</div>
        <div class="border text-left px-1 col-8">Sosco</div>
        <div class="border col-3">2000</div>
        <div class="border col-1">3</div>
        <div class="border text-left px-1 col-8">EPF</div>
        <div class="border col-3">2000</div>
        <div class="border col-1">4</div>
        <div class="border text-left px-1 col-8">Advance payment
        </div>
        <div class="border col-3">2000</div>
        <div class="border col-1">5</div>
        <div class="border text-left px-1 col-8">Bonus
        </div>
        <div class="border col-3">2000</div>
        <div class="col-lg-8 col-sm-7 col-6"></div>
        <div class="col-lg-1 col-sm-2 col-3 text-dark">Total(RM):</div>
        <div class="col-lg-3 col-sm-3 col-3 border red-text font-weight-bold">10000</div>
    </div>
    <div class="row no-gutters text-center mt-5">
        <div class="col-6">
            <p class="sign text-dark">Authoried By:</p>
            <p class="signLIne"><span>Cindy</span></p>
        </div>
        <div class="col-6">
            <p class="sign text-dark">Received By:</p>
            <p class="signLIne"><span>Peter</span></p>
        </div>
    </div>
</div>