<header>
			<nav class="navbar fixed-top navbar-expand-lg navbar-light sideBarColor scrolling-navbar">
				<div class="container-fluid aaa">
					<button
						class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<div class="list-group list-group-flush ">
							<a href="#" class="list-group-item  sideBarHoverColor sideBarColor navBottomLine">
								<i class="fas fa-home mr-3"></i>Home
							</a>
							<div class="dropdown navBottomLine">
								<a
									data-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="false"
									class="list-group-item sideBarHoverColor sideBarColor customersBooking"
								>
									<i class="fas fa-list-alt mr-3"></i>Customers Booking<i
										class="fas fa-toggle-off mt-1 float-right customersBookingIcon"
									></i>
								</a>
								<div class="dropdown-menu w-100 mt-1 sideBarInsideColor text-center">
									<a class="dropdown-item sideBarHoverColor ff1 white-text" href="#">New Booking</a>
									<a class="dropdown-item sideBarHoverColor ff1 white-text" href="#"
										>Dispatched Booking</a
									>
									<a class="dropdown-item sideBarHoverColor ff1 white-text" href="#"
										>Finished Booking
									</a>
									<a class="dropdown-item sideBarHoverColor ff1 white-text" href="#"
										>Cancelled Booking</a
									>
								</div>
							</div>
							<div class="dropdown">
								<a
									href="#"
									data-toggle="dropdown"
									id="dropdownMenu2"
									aria-haspopup="true"
									aria-expanded="false"
									class="list-group-item  sideBarHoverColor sideBarColor staff"
								>
									<i class="fas fas fa-users mr-3"></i>Staff
									<i class="fas mt-1 float-right fa-toggle-off staffIcon"></i>
								</a>
								<div class="dropdown-menu w-100 mt-1 sideBarInsideColor text-center">
									<a class="dropdown-item sideBarHoverColor ff1  white-text" href="#">Manage Staff</a>
									<a class="dropdown-item sideBarHoverColor ff1  white-text" href="#">Manage Leave</a>
									<a class="dropdown-item sideBarHoverColor ff1  white-text" href="#"
										>Advancee Payment
									</a>
									<a class="dropdown-item sideBarHoverColor ff1  white-text" href="#">Payout </a>
								</div>
							</div>
							<a href="#" class="list-group-item  sideBarHoverColor sideBarColor">
								<i class="fas fa-box mr-3"></i>Stock</a
							>
							<a href="#" class="list-group-item  sideBarHoverColor sideBarColor">
								<i class="fas fa-money-bill-alt mr-3"></i>Manage Package</a
							>
							<a href="#" class="list-group-item  sideBarHoverColor sideBarColor">
								<i class="fas fa-sign-out-alt mr-3"></i>Sign Out</a
							>
						</div>
					</div>
				</div>
			</nav>

			<div class="sidebar-fixed position-fixed">
				<a class="logo-wrapper waves-effect"></a>
				<div class="list-group list-group-flush ">
					<a href="#" class="list-group-item  sideBarHoverColor sideBarColor ">
						<i class="fas fa-home mr-3"></i>Home
					</a>
					<a
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
						class="list-group-item sideBarHoverColor sideBarColor customersBooking"
					>
						<i class="fas fa-list-alt mr-3"></i>Customers Booking<i
							class="fas fa-toggle-off mt-1 float-right customersBookingIcon"
						></i>
					</a>
					<div class="dropdown-menu w-100 mx-n1 sideBarInsideColor">
						<a class="dropdown-item sideBarHoverColor ff1" href="#">New Booking</a>
						<a class="dropdown-item sideBarHoverColor ff1" href="#">Dispatched Booking</a>
						<a class="dropdown-item sideBarHoverColor ff1" href="#">Finished Booking </a>
						<a class="dropdown-item sideBarHoverColor ff1" href="#">Cancelled Booking</a>
					</div>
					<div class="dropdown">
						<a
							href="#"
							data-toggle="dropdown"
							id="dropdownMenu2"
							data-target="#aaaa"
							aria-haspopup="true"
							aria-expanded="false"
							class="list-group-item sideBarHoverColor sideBarColor staff"
						>
							<i class="fas fas fa-users mr-3"></i>Staff
							<i class="fas mt-1 float-right fa-toggle-off staffIcon"></i>
						</a>
						<div class="dropdown-menu w-100 mx-n1 sideBarInsideColor dropdown-primary">
							<a class="dropdown-item sideBarHoverColor ff1" href="#">Manage Staff</a>
							<a class="dropdown-item sideBarHoverColor ff1" href="#">Manage Leave</a>
							<a class="dropdown-item sideBarHoverColor ff1" href="#">Advancee Payment </a>
							<a class="dropdown-item sideBarHoverColor ff1" href="#">Payout </a>
						</div>
					</div>
					<a href="#" class="list-group-item  sideBarHoverColor sideBarColor">
						<i class="fas fa-box mr-3"></i>Stock</a
					>
					<a href="#" class="list-group-item  sideBarHoverColor sideBarColor">
						<i class="fas fa-money-bill-alt mr-3"></i>Manage Package</a
					>
					<a href="#" class="list-group-item  sideBarHoverColor sideBarColor">
						<i class="fas fa-sign-out-alt mr-3"></i>Sign Out</a
					>
				</div>
			</div>
		</header>