<div class="card p-3 text-center">
	<h2 class="title my-3">Manage Package</h2>

	<form action="" class="py-4">
		<div class="d-flex">
			<i class="fas fa-search mt-2  mr-3"></i>
			<input class="form-control" type="text" placeholder="Search" />
		</div>
	</form>
	<nav aria-label="Page navigation example" class="d-flex justify-content-between flex-wrap">
		<ul class="pagination pg-blue mt-0  mb-0  flex-wrap">
			<li class="page-item mx-1"><a class="page-link">Previous</a></li>
			<li class="page-item active mx-1"><a class="page-link">1</a></li>
			<li class="page-item"><a class="page-link">2</a></li>
			<li class="page-item mx-1"><a class="page-link">3</a></li>
			<li class="page-item mx-1"><a class="page-link">Next</a></li>
		</ul>
		<button class="btn btn-sm p-2 btn-primary" data-toggle="modal" data-target="#addPackage">Add Package</button>
	</nav>
	<div class="table-responsive text-nowrap">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th class="tableColSize-1" scope="col">No</th>
					<th class="tableColSize-1" scope="col">Package Name</th>
					<th class="tableColSize-1" scope="col">Description</th>
					<th class="tableColSize-1" scope="col">Sedan Price</th>
					<th class="tableColSize-1" scope="col">MPV/SUV/4x4 Price</th>
					<th class="tableColSize-1" scope="col">Bike Price</th>
					<th class="tableColSize-1" scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tableColSize-1">1</td>
					<td class="tableColSize-1">d170241b</td>
					<td class="tableColSize-1">iphone</td>
					<td class="tableColSize-1">44</td>
					<td class="tableColSize-1">44</td>
					<td class="tableColSize-1">44</td>
					<td class="tableColSize-0">
						<div class="d-flex">
							<button class="btn btn-sm p-1 btn-primary" data-toggle="modal" data-target="#editPackage">Edit</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div
	class="modal fade"
	id="addPackage"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog  modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title staffAccountTitle w-100 text-center" id="exampleModalLabel">
					Add New Package
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container">
					<form class="">
						<div class="row ">
							<div class="col-lg-6 col-12 p-1">
								<p class="h6 formLabelName">Package Name</p>
								<input type="text" class="form-control mb-2" placeholder="Package Name" />
							</div>
							<div class="col-lg-6 col-12 p-1">
								<p class="h6 formLabelName">Sedan</p>
								<input type="number" class="form-control mb-2" placeholder="Sedan" />
							</div>
							<div class="col-lg-6 col-12 p-1">
								<p class="h6 formLabelName">MPV/SUV/4x4</p>
								<input type="number" class="form-control mb-2" placeholder="MPV/SUV/4x4" />
							</div>
							<div class="col-lg-6 col-12 p-1">
								<p class="h6 formLabelName">Bike</p>
								<input type="number" class="form-control mb-2" placeholder="Bike" />
							</div>
								<div class="col-lg-12 col-12 p-1">
								<p class="h6 formLabelName">Description</p>
								<textarea type="number" class="form-control mb-2" placeholder="Description" />
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-center">
				<button type="button" class="btn btn-sm btn-primary">Save</button>
				<button type="button" class="btn btn-sm btn-primary">Cancel</button>
			</div>
		</div>
	</div>
</div>

<div
	class="modal fade"
	id="editPackage"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog  modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title staffAccountTitle w-100 text-center" id="exampleModalLabel">
				Edit Package
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container">
					<form class="">
						<div class="row ">
							<div class="col-lg-6 col-12 p-1">
								<p class="h6 formLabelName">Package Name</p>
								<input type="text" class="form-control mb-2" placeholder="Package Name" />
							</div>
							<div class="col-lg-6 col-12 p-1">
								<p class="h6 formLabelName">Sedan</p>
								<input type="number" class="form-control mb-2" placeholder="Sedan" />
							</div>
							<div class="col-lg-6 col-12 p-1">
								<p class="h6 formLabelName">MPV/SUV/4x4</p>
								<input type="number" class="form-control mb-2" placeholder="MPV/SUV/4x4" />
							</div>
							<div class="col-lg-6 col-12 p-1">
								<p class="h6 formLabelName">Bike</p>
								<input type="number" class="form-control mb-2" placeholder="Bike" />
							</div>
								<div class="col-lg-12 col-12 p-1">
								<p class="h6 formLabelName">Description</p>
								<textarea type="number" class="form-control mb-2" placeholder="Description" />
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-center">
				<button type="button" class="btn btn-sm btn-primary">Save</button>
				<button type="button" class="btn btn-sm btn-primary">Cancel</button>
			</div>
		</div>
	</div>
</div>
