@import './projectVariable.scss';

.ff1 {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei,
		Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif !important;
}
.ff2 {
	font-family: Open Sans, -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei,
		Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

$sideWidth: 250px;
$sideBarColor: $color-main;
$sideBarInsideColor: $color-secondary-3;

.sideBarColor {
	background-color: $sideBarColor !important;
	color: $font-color-2;
}
.sideBarHoverColor {
	color: $font-color-2;
	&:hover {
		background-color: $color-secondary-2 !important;
		color: $font-color-3;
	}
}
.sideBarInsideColor {
	background-color: $sideBarInsideColor !important;
}
.sidebar-fixed {
	height: 100vh;
	background-color: $sideBarColor;
	width: $sideWidth;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	z-index: 1050;
	padding-top: 0;
}
.sidebar-fixed .list-group .active {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.sidebar-fixed .logo-wrapper {
	padding: 2.5rem;
}

@media (min-width: 1200px) {
	main {
		padding-left: $sideWidth;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	main {
		padding-left: $sideWidth;
	}
}
@media (min-width: 992px) {
	.navbar {
		display: none;
	}
}
@media (max-width: 991px) {
	.sidebar-fixed {
		display: none;
	}
	.container {
		max-width: 100%;
	}
}
.finishBtnColor {
	background-color: #2bbbad;
}
.cancelledBtnColor {
	background-color: #ff3366;
	color: white;
}
.tableColSize-0 {
	padding: 0 !important;
}
.tableColSize-1 {
	padding: 4px !important;
}
.modalTitleColor {
	color: red;
}
.staffAccountTitle {
	color: red;
}
.formLabelName {
	color: #666;
	font-size: 16px;
	font-weight: 400;
}
.navBottomLine {
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}
